.tile {
  width: 50%;
  height: 50%;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: larger;
}

@media screen and (max-width: 700px) {
  .tile {
    width: 100%;
  }
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.controlContainer {
  display: flex;
  flex-direction: column;
}